
@{
    ViewData["Title"] = "UploadFile";
}
<meta http-equiv="Pragma" content="no-cache" />
<link rel="stylesheet" href="~/css/DragDrop.css" />

<h2>UploadFile</h2>

<div id="DragDropArea" class="drag-and-drop-area">
    Drag and drop file into this area
    <progress id="progress-bar" hidden max="100" min="0" value="0"></progress>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="~/js/DragDrop.js"></script>